Flask==2.3.3
requests==2.31.0
redis==5.0.1
psycopg2-binary~=2.9.10
pandas~=2.2.3
python-dotenv~=1.1.0
SQLAlchemy~=2.0.43
spotipy~=2.25.1
httpx~=0.28.1
fastapi~=0.123.10
amqp~=5.3.1
MarkupSafe~=3.0.2
pytest~=9.0.1